.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.commentItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.commentLines {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex: 1;
}
