.button {
  background: linear-gradient(to bottom, #ee681a, rgb(155, 64, 22));
  color: #222 !important; /* visible solid color */
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom, #ee681a, #ee681a);
}
