.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 46px;
  font-weight: 900;
  background: var(--gradient-typography-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 20px;
  line-height: 1.8rem;
  margin-top: 10px;
  color: var(--text-light);
}

.icon {
  font-size: 18px;
}

.contactCard {
  margin-top: 30px;
  background: var(--card-bg);
  padding: 30px;
  border: 2px solid var(--card-border);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  align-items: center;
  box-shadow: var(--card-shadow);
  color: var(--card-text);
  transition: none;
}

.contactItem {
  font-size: 18px;
  background: var(--gradient-typography-secondery);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input,
.textarea {
  background: var(--background-dark);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 10px 15px;
  color: var(--text-light);
  font-size: 16px;
  width: 100%;
  resize: vertical;
  transition: none;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.textarea {
  min-height: 100px;
}

.submitBtn {
  background: var(--button-bg);
  border: none;
  padding: 12px;
  border-radius: var(--button-radius);
  color: var(--button-text);
  font-weight: 700;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  transition: none;
}

.submitBtn:disabled {
  background: #b37438;
  cursor: not-allowed;
}

.submitBtn:hover:not(:disabled) {
  background: var(--button-bg-hover);
}

.successMsg {
  color: #6cc070;
  margin-top: 10px;
}

.errorMsg {
  color: #ee4b4b;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .pageContainer {
    margin-bottom: 20px;
  }
  .title {
    font-size: 38px;
  }

  .description {
    font-size: 18px;
  }

  .contactCard {
    padding: 20px;
  }
}
