.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 46px;
  font-weight: 900;
  background: linear-gradient(to bottom, #ee681a, rgb(76, 40, 23));

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 20px;
  line-height: 1.8rem;
  margin-top: 10px;
  color: var(--text-light);
}

.icon {
  font-size: 18px;
}

.contactCard {
  margin-top: 30px;
  background: #1a1a1a;
  padding: 30px;
  border: 2px solid #1a1a1a;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  align-items: center;
}

.contactItem {
  font-size: 18px;
  background: linear-gradient(to bottom, #ddd, #555);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input,
.textarea {
  background: #121212;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 10px 15px;
  color: #eee;
  font-size: 16px;
  width: 100%;
  resize: vertical;
  transition: border-color 0.2s ease;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #ee681a;
}

.textarea {
  min-height: 100px;
}

.submitBtn {
  background: #ee681a;
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: #121212;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submitBtn:disabled {
  background: #b37438;
  cursor: not-allowed;
}

.submitBtn:hover:not(:disabled) {
  background: #d55e0a;
}

.successMsg {
  color: #6cc070;
  margin-top: 10px;
}

.errorMsg {
  color: #ee4b4b;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .pageContainer {
    margin-bottom: 20px;
  }
  .title {
    font-size: 38px;
  }

  .description {
    font-size: 18px;
  }

  .contactCard {
    padding: 20px;
  }
}
