.infoContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.mainContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.contentArea {
  /* display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px; */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .mainContent {
    grid-template-columns: 1fr;
  }
  .contentArea {
    grid-template-columns: 1fr;
  }
}
