.card {
  background: var(--card-bg);
  color: #fff;
  padding: 22px;
  border-radius: 24px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--card-border);

  /* cursor: pointer; */
}

.large {
  grid-column: span 12;
}

.medium {
  grid-column: span 6;
}
.semi {
  grid-column: span 8;
}

.small {
  grid-column: span 4;
}

.icon {
  margin-bottom: 10px;
  color: #ee681a; /* Your primary color */
}

.title {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .large,
  .medium,
  .semi,
  .small {
    grid-column: span 12;
  }
}
