@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;900&display=swap");
.logo {
  font-family: "Unbounded", sans-serif !important;
  background: linear-gradient(to bottom, #ee681a, rgb(76, 40, 23));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: bold;
  z-index: 999;
}
