.container {
  display: flex;
}

.navbar {
  width: 200px;
  background: #1a1a1a;
  padding: 20px;
  color: white;
  height: 100vh;
  max-height: 600px;
  border-radius: 12px;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  margin: 20px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* .content {
  flex: 1;
  padding: 20px;
} */
.container {
  padding: 2rem;
  text-align: center;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #888;
}

.countsContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.countBox {
  background: #1a1a1a;
  padding: 1rem 2rem;
  border-radius: 8px;
  min-width: 100px;
}

.loading,
.error {
  padding: 2rem;
  text-align: center;
}

.error {
  color: red;
}
