.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 9999;
  position: relative;
}

/* Default desktop links */
.links {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* For mobile toggle */
.menuIcon {
  display: none;
  cursor: pointer;
  color: #ee681a;
}

/* link style */
.link {
  margin-left: 20px;
  background: linear-gradient(to bottom, #ddd, #555);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.link:hover {
  opacity: 0.8;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ee681a;
}

.tooltipText {
  visibility: hidden;
  background: linear-gradient(to bottom, #ddd, #555);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 13px;
  white-space: nowrap;
  font-weight: 600;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

/* FULL RESPONSIVE PART */

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .menuIcon {
    display: block;
  }

  .links {
    flex-direction: column;
    gap: 20px;
    background-color: #1a1a1a;
    position: absolute;
    top: 10vh; /* Keep near the top */
    left: 50%; /* Center horizontally */
    width: 90%;
    padding: 40px 0;
    display: none;
    border-radius: 12px;
    transform: translateX(-50%); /* Only horizontal centering */
    align-items: center; /* Center links horizontally */
    justify-content: flex-start; /* Keep links at the top */
  }

  .linksOpen {
    display: flex;
  }

  .link {
    margin: 0;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 75px;
  }
}
