.banner {
  margin-bottom: 20px;
}

.bannerContent {
  margin: auto;
  gap: 20px;
  text-align: center;
}

.banner h1 {
  font-size: clamp(20px, 5vw, 32px);
}

.title {
  margin-bottom: 35px;
  text-align: center;
}

.title h1 {
  font-size: 38px;
  font-weight: 900;
  background: var(--gradient-typography-primary);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.title p,
.title p {
  font-size: 16px;
}

.info svg {
  margin-right: 8px;
  vertical-align: middle;
  color: #ee681a;
}

.toggleButtons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.tabButton {
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  /* border: 0.1px solid var(--button-border-color); */
  border-radius: 6px;
  /* color: var(--button-text-no-activ); */
  /* background: var(--button-bg-no-activ); */
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;

  background: rgba(18, 18, 18, 0.82);
  border: 1px solid var(--card-border);
  color: var(--text-muted);
}

.active {
  background: var(--button-bg);
  color: var(--button-text);
}

@media (max-width: 768px) {
  .banner {
    /* padding: 20px; */
  }
  .info {
    justify-content: start;
    gap: 21px;
  }
}
