.banner {
  /* background: #1a1a1a; */
  color: #fff;
  padding: 10px 10px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.bannerContent {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  margin: auto;
  gap: 20px;
  text-align: center;
}

.banner h1 {
  font-size: clamp(20px, 5vw, 32px);
}

.title {
  margin-bottom: 35px;
  text-align: center;
}

.title h1 {
  font-size: 38px;
  font-weight: 900;
  background: linear-gradient(to bottom, #ee681a, rgb(54, 29, 17));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.title p,
.title p {
  font-size: 16px;
}

.info svg {
  margin-right: 8px;
  vertical-align: middle;
  color: #ee681a;
}

.toggleButtons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.tabButton {
  margin: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  color: #a2a2a2;
  background: #222;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
}

.tabButton:hover {
  transform: scale(1.02);
}

.active {
  background: linear-gradient(to bottom, #ee681a, rgb(155, 64, 22));
  color: #222;
}

@media (max-width: 768px) {
  .banner {
    padding: 20px;
  }
  .info {
    justify-content: start;
    gap: 21px;
  }
}
